node_modules/
node_modules

#
.vercel



.next/

.next

.next/*

.env.example
.env 
.env/
.env/*

.env.example
.env.local 
.env.local/
.env.local/*


.vercel

.vercel

.vercel

.vercel

.vercel

.vercel
.env*.local

.vercel


./scripts/*

./scripts

./scripts/*

./scripts

./scripts

./scripts/

./scripts/**/

scripts/

scripts

scripts/*

scripts
.vercel
